body {
	background-color: #FAFAFA;
    margin-top: 160px;
    margin-left: 160px;
    margin-right: 160px;

}

h1 {
	font-size: 104px;
	font-family: "Montserrat";
	font-weight: 400;
	color: #14a989;
	text-align: center
}

h2 {
	font-size: 23px;
	font-family: "Optima";
	font-weight: bold;
	color: #333333;
	padding-top: 20px;
}

h3 {
	font-size: 15px;
	font-family: "Optima";
	font-weight: bold;
	color: #333333;
}

h3 {
	font-size: 15px;
	font-family: "Optima";
	font-weight: bold;
	color: #333333;
}

h4 {
	font-size: 80px;
	font-family: "Montserrat";
	font-weight: 400;
	color: #333333;
	text-align: center;
	padding-top: 103px;
	line-height: 0;
}

h5 {
	font-size: 40px;
	font-family: "Montserrat";
	font-weight: 400;
	color: #0A80FE;
	text-align: center;
	padding-bottom: 165px;
}


h6 {
	font-size: 8px;
	font-family: "Hiragino Sans";
	font-weight: normal;
	color: #333333;
	text-align: center;
}

p {
	font-size: 15px;
	font-family: "Optima";
	color: #333333;
	line-height: 1.4;
}

p#end {
	text-align: center;
}

a {
	font-size: 15px;
	font-family: "Optima";
	font-weight: regular;
	font-style: normal;
	color: #333333;
	line-height: 1.4;
}

p#a {
	font-style: italic;
}


style="font-family: Optima;color:#333333"